.watch {
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  color: turquoise;
}
.backgroundClock {
  transform: rotate(45deg);
  position: fixed;
  bottom: 0;
  left: 0;
  color: gray;
  opacity: 0.2;
}
